.main-container {
  background-color: #fce4ec;
  padding: 2rem;
  font-family: Arial, sans-serif;
  background-size: 100px;
  width: 205%;
  height: 100%;
  
  
}

.history-container {
    background-color: #fff;
    padding: 1.5rem;
    font-family: sans-serif;
  }
  
  .client-info-row {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
  }
  
  .client-info-box {
    background-color: #f0f0f0;
    padding: 0.75rem 1.25rem;
    border-radius: 8px;
    font-weight: 500;
  }
  
  .filter-row {
    margin-bottom: 1rem;
  }
  
  .filter-row label {
    font-size: 0.95rem;
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }
  
  
  .history-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .history-table th,
  .history-table td {
    text-align: center;
    padding: 0.75rem;
    border-bottom: 1px solid #ccc;
  }
  
  .history-table tr:nth-child(even) {
    background-color: #fae0e0;
  }
  
  .icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    padding: 0.2rem;
  }
  
.pagination {
  font-family: Arial, sans-serif;
}


.pagination-button {
  padding: 8px 8px;
  border: 1px solid #ddd;
  background-color: white;
  color: #f59faf;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin:0px;
}

.pagination-button:hover {
  background-color: #fce4ec;
  border-color: rgb(69, 69, 69) ;
  color: rgb(69, 69, 69);
}

.pagination-current {
  padding: 5px 8px;
  background-color: #f59faf;
  color: white;
 
}
  