.main-container {
  background-color: #fce4ec;
  padding: 2rem;
  font-family: Arial, sans-serif;
  background-size: 100px;
  max-width: 1221px; 
  height: 100%;
  max-height: 1000%;
  
}

.client-container {
  background: #fff;
  border-radius: 0.5rem;
  padding: 1.5rem;
  width: 97%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.client-header {
  display: flex;
  align-items: center;
}

.add-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
  display: flex;
  padding: 5px;
}

.client-controls {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  flex-wrap: wrap;
}

.entries-control label,
.search-control label {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

select,
input[type="text"] {
  padding: 0.25rem;
  border-radius: 0.3rem;
  border: 1px solid #ccc;
}

.client-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}


.client-table th,
.client-table td {
  padding: 0.75rem;
  border: 1px solid #e0e0e0;
  text-align: center;
}

.client-table th {
  background-color: #f8f9fa;
}

.action-icons > svg {
  margin: 0 0.3rem;
  cursor: pointer;
}


.content-page{
  justify-content: flex-end;
}
.pagination {
 
  font-family: Arial, sans-serif;
  
}


.pagination-button {
  padding: 8px 8px;
  border: 1px solid #ddd;
  background-color: white;
  color: #f59faf;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin:0;
}

.pagination-button:hover {
  background-color: #fce4ec;
  border-color: rgb(69, 69, 69) ;
  color: rgb(69, 69, 69);
}

.pagination-current {
  padding: 5px 8px;
  background-color: #f59faf;
  color: white;
 
}
