body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.table-controls {
    padding-bottom: 1rem;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1rem;
  }
  
  .title-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .title-with-icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .add-btn-icon {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.2rem;
    display: flex;
    align-items: center;
  }
  
  
  .filter-row {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  
  .show-entries label,
  .search-box label {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  select,
  input[type="text"] {
    padding: 0.3rem 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
.container {
    padding: 1.5rem;
    background-color: #ffe4e6;
    min-height: 100vh;
    font-family: sans-serif;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .header h1 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .search-group {
    display: flex;
    gap: 0.5rem;
  }
  
  .search-group input {
    padding: 0.5rem;
    width: 16rem;
  }
  
  .btn {
    padding: 0.5rem 1rem;
    background-color: #d1d5db;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn.ghost {
    background-color: transparent;
    color: #000;
  }
  
  .table-wrapper {
  overflow-x: auto;
  background: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  max-width: 100%;
  box-sizing: border-box;
}

  
  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.875rem;
  }
  
  thead {
    background-color: #fecdd3;
  }
  
  th, td {
    padding: 0.5rem 1rem;
    text-align: center;
    border-bottom: 1px solid #f3f4f6;
  }
  
  .icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 0.25rem;
  }
  
  .pagination {
    margin-top: 1rem;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.5rem;
    background-color: transparent;
  }
  
  .page-btn {
    padding: 0.4rem 1rem;
    background-color: #eae8e8;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .page-btn:hover {
    background-color: #e0e0e0;
  }
  
  .page-number {
    font-size: 1rem;
    font-weight: 500;
  }
  
  